table {
  width: 100%;
}

th {
  font-size: medium;
  background-color: #eee;
}

td {
  text-align: center;
  height: 50px;
  font-size: medium;
}

td.num {
  width: 10%;
}

td.title {
  width: 45%;
}

td.writer {
  width: 20%;
}

td.date {
  width: 15%;
}

td.count {
  width: 10%;
}

.board_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}
