/* main navigator div box */

.btnLeft {
  display: inline-block;
  width: 32%;
}

.btnRight {
  display: inline-block;
  width: 32%;
}

.wrapper {
  display: inline-block;
  overflow: hidden;
  width: 34%;
}

.mainDivBox {
  width: 300%;
  transition: transform 0.5s;
}

.nav_item {
  width: 310px;
  float: left;
}

.nav_item img, .btnLeft img, .btnRight img {
  width: 100%;
}


/* credit div box */

.creditBox {
  display: inline-grid;
  grid-template-areas:
    't0 t0 t0'
    't1 t2 t3'
    't4 t5 t6'
    't7 t7 t7';
  grid-template-columns: 33% 33% 33%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  align-content: center;
}

.creditBox > p {
  text-align: center;
  padding: 20px 0;
  margin: auto;
  font-size: medium;
}

#t0 { grid-area: t0; }
#t1 { grid-area: t1; }
#t2 { grid-area: t2; }
#t3 { grid-area: t3; }
#t4 { grid-area: t4; }
#t5 { grid-area: t5; }
#t6 { grid-area: t6; }
#t7 { grid-area: t7; }
