/* generic tags */

html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

header .action {
  display: block;
  padding: 0.5rem;
}

/* content stuffs */

.content:last-child {
  margin-bottom: 0;
}

.content input {
  margin-bottom: 1em;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

/* flash div style */

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
