{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}New Picture{% endblock %}</h1>
{% endblock %}

{% block button %}
  <a class="action" onclick="history.go(-1);" style="cursor: pointer; font-size: x-large">🔙</a>
{% endblock %}

{% block content %}
  <form>
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="user_id">ID</label>
    <input name="user_id" id="user_id" value="{{ request.form['user_id'] }}" required>
    <label for="user_pw">PW</label>
    <input type="password" name="user_pw" id="user_pw" value="{{ request.form['user_pw'] }}" required>

    <label for="canvasDiv">Body</label>
    <div id="canvasDiv" class="container">
      <canvas id="canvas" width="200" height="200" style="border: 2px solid"></canvas>
      <div class="palette">
        <div id="noti1">Choose Color</div>
        <div id="green"   onclick="canvas.setPen(this)"></div>
        <div id="blue"    onclick="canvas.setPen(this)"></div>
        <div id="red"     onclick="canvas.setPen(this)"></div>
        <div id="yellow"  onclick="canvas.setPen(this)"></div>
        <div id="orange"  onclick="canvas.setPen(this)"></div>
        <div id="black"   onclick="canvas.setPen(this)"></div>
        <div id="noti2">Eraser</div>
        <div id="white"   onclick="canvas.setPen(this)"></div>
      </div>
    </div>

    <div>
      <input type="button" value="save" id="submit">
      <input type="button" value="clear" id="clr" size="23" onclick="canvas.erase()">
    </div>
  </form>

  <script type="text/javascript" src="{{ url_for('static', filename='js/canvasHandler.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    document.querySelector('body')
      .onload = () => canvas.init();

    document.getElementById('submit')
      .addEventListener('click', () => $.ajax({
        type: "POST",
        url: "/gallery/create",
        data: JSON.stringify({
          title: document.getElementById('title').value,
          image: document.getElementById('canvas').toDataURL(),
          user_id: document.getElementById('user_id').value,
          user_pw: document.getElementById('user_pw').value,
        }),
        contentType: 'application/json',
        dataType: 'json',
        processData: false,
        success: data => {
          console.log(data);
          if (['제목', 'ID', '비밀번호'].includes(data)) {
            alert(`${data}을/를 채워주세요!`);
          }
          else {
            location.href = `/gallery/${data}/page`;
          }
        },
        error: data => {
          alert('There was an error uploading your file!');
        }
      }));
  </script>
{% endblock %}