{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gallery{% endblock %}</h1>
  <a class="action" href="{{ url_for('gallery.create') }}">New</a>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article
      class="post"
      style="cursor: pointer; width: fit-content"
      onclick="location.href='{{ url_for('gallery.page', post_id=post['id']) }}'">
      <img src="{{ post['body'] }}" width="50%" />
      <div class="about">{{ post['title'] }} by {{ post['author'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
    </article>

    {% if not loop.last %}
      <hr>
    {% endif %}

  {% endfor %}
{% endblock %}