{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gallery{% endblock %}</h1>
  <a class="action" href="{{ url_for('gallery.create') }}">New</a>
{% endblock %}

{% block content %}
  <div id="gallery_board"></div>

  <script src="{{ url_for('static', filename='util.js') }}"></script>
  <script>
    const posts = {{ posts|safe }};
    const listElem = document.getElementById('gallery_board');

    posts.forEach((post, index) => {
      listElem.append(getThumbnail(post));

      if (index !== posts.length - 1) {
        listElem.appendChild(document.createElement('hr'));
      }
    });
  </script>
{% endblock %}