{% extends 'base.html' %}

{% block header %}
  <h1 onclick="history.go(-1)" style="cursor: pointer;">{% block title %}Gallery{% endblock %}</h1>
  <div class="editButtons">
    <input type="button" value="Delete" onclick="checkPW('delete');">
  </div>

  <style>
    .about { color: #777; }

    table { width: 100%; }
    td { text-align: center; }

    td.num { width: 7.5%; }
    td.title { width: calc(50% - 75px); }
    td.image { width: 75px; }
    td.writer { width: 15%; }
    td.date { width: 15%; }
    td.count { width: 7.5%; }
  </style>
{% endblock %}

{% block content %}
  <article class="post_page">
    <article>
      <img src="{{ post['body'] }}">
    </article>
  </article>

  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  <script>
    setPageHeader({{ post|safe }});
    setPageFooter({{ next|safe }}, {{ prev|safe }});
  </script>

  <script>
    function checkPW(action) {
      const post_id = {{ post['id'] }};

      window.open(
        `/gallery/${post_id}/check_${action}`,
        "a",
        "width=400, height=300, left=100, top=50"
      );
    }
  </script>
{% endblock %}