{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog_table.css') }}">
  <style> td.image { width: 75px; } </style>
{% endblock %}

{% block header %}
  <h1 onclick="location.href = {{ url_for('gallery.index') }}" style="cursor: pointer;">
    {% block title %}Gallery{% endblock %}
  </h1>
{% endblock %}

{% block button %}
  <a onclick="checkPW('delete');" style="cursor: pointer">삭제하기</a>
{% endblock %}

{% block content %}
  <article class="post_page">
    <article>
      <img src="{{ post['body'] }}">
    </article>
  </article>

  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  <script>
    setPageHeader({{ post|safe }});
    setPageFooter({{ next|safe }}, {{ prev|safe }}, getThumbnail);
  </script>

  <script>
    function checkPW(action) {
      const post_id = {{ post['id'] }};

      window.open(
        `/gallery/${post_id}/check_${action}`,
        "a",
        "width=400, height=300, left=100, top=50"
      );
    }
  </script>
{% endblock %}