{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <style>
    .content textarea {
      min-height: 12em;
      resize: vertical;
    }
  </style>
{% endblock %}

{% block header %}
  <h1>{% block title %}글 쓰기{% endblock %}</h1>
{% endblock %}

{% block button %}
  <a class="action" onclick="history.go(-1);" style="cursor: pointer;" >↩️ 뒤로가기</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">제목</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="user_id">ID</label>
    <input name="user_id" id="user_id" value="{{ request.form['user_id'] }}" required>
    <label for="user_pw">비밀번호</label>
    <input type="password" name="user_pw" id="user_pw" value="{{ request.form['user_pw'] }}" required>
    <label>내용</label>
    <textarea name="body" id="body" placeholder="멋진 글을 작성해보세요!">
      {{ request.form['body'] }}
    </textarea>
    <input type="submit" value="저장">
  </form>
{% endblock %}