{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endblock %}

{% block content %}
  <div class="board_wrap">
    <div class="board_list_wrap">
      <div class="board_list">
        <div class="top">
          <span class="num">번호</span>
          <span class="title">제목</span>
          <span class="writer">글쓴이</span>
          <span class="date">작성일</span>
          <span class="count">조회</span>
        </div>

        {% for post in posts %}
          <a
            class="post"
            href = {{ url_for('blog.page', post_id=post['id']) }}>
            <span class="num"> {{ post['id'] }} </span>
            <span class="title"> {{ post['title'] }} </span>
            <span class="writer"> {{ post['author'] }} </span>
            <span class="date"> {{ post['created'].strftime('%Y-%m-%d') }} </span>
            <span class="count"> 0 </span>
          </a>

          {% if not loop.last %}
            <hr>
          {% endif %}
        {% endfor %}

        <div class="board_page">
          <a href="{{ url_for('blog.index', page_id=1) }}" class="bt first"><<</a>
          <a href="{{ url_for('blog.index', page_id=[page_id - 1, 1]|max) }}" class="bt prev"><</a>

          {% for _id in range(page_count) %}
            <a href="{{ url_for('blog.index', page_id=_id) }}" class="num">{{ _id + 1 }}</a>
          {% endfor %}

          {% if page_count == 0 %}
            <a href="{{ url_for('blog.index', page_id=1) }}" class="num">1</a>
          {% endif %}

          <a href="{{ url_for('blog.index', page_id=[page_count, page_id + 1]|min) }}" class="bt next">></a>
          <a href="{{ url_for('blog.index', page_id=page_count) }}" class="bt last">>></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}