{% extends 'base.html' %}

{% block header %}
  <h1 onclick="location.href = {{ url_for('blog.index') }}" style="cursor: pointer;">{% block title %}Posts{% endblock %}</h1>
  <div class="editButtons">
    <input type="button" value="Edit" onclick="checkPW('edit');">
    <input type="button" value="Delete" onclick="checkPW('delete');">
  </div>
  <style>
    .about { color: #777; }

    table { width: 100%; }
    td { text-align: center; }

    td.num { width: 10%; }
    td.title { width: 45%; }
    td.writer { width: 20%; }
    td.date { width: 15%; }
    td.count { width: 10%; }
  </style>
{% endblock %}

{% block content %}
  <article class="post_page">
    <article>
      <p class="body">{{ post['body'] }}</p>
    </article>
  </article>

  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  <script>
    setPageHeader({{ post|safe }});
    setPageFooter({{ next|safe }}, {{ prev|safe }});
  </script>

  <script>
    function checkPW(action) {
      const post_id = {{ post['id'] }};

      window.open(
        `/blog/${post_id}/check_${action}`,
        "a",
        "width=400, height=300, left=100, top=50"
      );
    }
  </script>
{% endblock %}