{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="post_page">
    <header>
      <div>
        <h1>{{ post['title'] }}</h1>
        <div class="about">by {{ post['author'] }} on {{ post['created'] }}</div>
      </div>
      <input type="button" value="Edit" onclick="checkPW('edit');">
      <input type="button" value="Delete" onclick="checkPW('delete');">
    </header>

    <article>
      <p class="body">{{ post['body'] }}</p>
    </article>

    <hr>

    <div id="move_page">
      <div id="move_next"></div>
      <div id="move_prev"></div>
    </div>
  </article>

  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  <script>
    const nextThumbnail = getSummary({{ next|safe }});
    if (nextThumbnail) {
      const nextDiv = document.getElementById('move_next');
      nextDiv.appendChild(generateSpan('arrow', '▲'));
      nextDiv.appendChild(nextThumbnail);
    }

    const prevThumbnail = getSummary({{ prev|safe }});
    if (prevThumbnail) {
      const prevDiv = document.getElementById('move_prev');
      prevDiv.appendChild(generateSpan('arrow', '▼'));
      prevDiv.appendChild(prevThumbnail);
    }
  </script>

  <script>
    function checkPW(action) {
      const post_id = {{ post['id'] }};

      window.open(
        `/blog/${post_id}/check_${action}`,
        "a",
        "width=400, height=300, left=100, top=50"
      );
    }
  </script>
{% endblock %}