<!doctype html>

<title>{% block title %}{% endblock %} - SNC project</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="{{ url_for('static', filename='assets/logo.png') }}">

<section class="content">
  <header>
    <div id="home">
      <span style="cursor: pointer; width: fit-content" onclick="location.href='/'">🏠</span>
    </div>
    <div id="header">
      {% block header %}{% endblock %}
    </div>
    <div id="button">
      {% block button %}{% endblock %}
    </div>
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>
