{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}SNC v0.1 beta{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="mainDivBox">
    <p id="nav_post" style="cursor: pointer">게시판</p>
    <p id="nav_gall"  style="cursor: pointer">방명록 그리기</p>
    <p id="nav_const1">🚧 공사중입니다 🚧</p>
    <p id="nav_const2">🚧 공사중입니다 🚧</p>
  </div>

  <div class="creditBox">
    <p id="t0">produced by Team_Alpha 😎</p>
    <p id="t1">-이름 1</p>
    <p id="t2">-이름 2</p>
    <p id="t3">-이름 3</p>
    <p id="t4">-이름 4</p>
    <p id="t5">-이름 5</p>
    <p id="t6">
      10921 조민성 <a href="https://github.com/Runas8128" target="_blank">
        <img
         width="20"
         style="vertical-align: bottom"
         src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
         alt="github link"/>
      </a>
    </p>
    <p id="t7">powered by shs</p>
  </div>

  <script>
    document.getElementById('nav_post')
      .addEventListener('click', () => {
        location.href = {{ url_for('blog.index') }};
      });
    document.getElementById('nav_gall')
      .addEventListener('click', () => {
        location.href = {{ url_for('gallery.index') }};
      });
  </script>
{% endblock %}